<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ArithemeticOperation" verbose="1" parallel="methods" thread-count="10">
    <listeners>
        <listener class-name = "com.softhinkers.listners.CustomReporter" />
    </listeners>


    <test name="TestArithemetic">
        <classes>
            <class name="com.softhinkers.addition.TestAddition"/>
            <class name="com.softhinkers.division.TestDivision"/>
            <class name="com.softhinkers.multiplication.TestMultiplication"/>
            <class name="com.softhinkers.substraction.TestSubstraction"/>
            <class name="com.softhinkers.annotations.TestngAnnotations"/>
            <class name="com.softhinkers.testcasespriorities.TestCasesPriorities"/>
            <class name="com.softhinkers.testngdependents.DependsOnGroups"/>
            <class name="com.softhinkers.testngdependents.DependsOnMethod"/>
            <class name="com.softhinkers.testngdependents.DependsOnTest"/>
<!--            <class name="com.softhinkers.selenium.test.HomeTest"/>-->
<!--            <class name="com.softhinkers.selenium.test.AdminTest"/>-->
<!--            <class name="com.softhinkers.selenium.test.LoginTest"/>-->

        </classes>
    </test>

            <test name="ToolsQA">
                <groups>
                    <dependencies>
                        <group depends-on="openbrowser" name="login"></group>
                        <group depends-on="login" name="viewaccount"></group>
                        <group depends-on="viewaccount" name="logout"></group>
                    </dependencies>
                </groups>
                <classes>
                    <class name="com.softhinkers.testngdependents.GroupDependsXml"/>
                </classes>
            </test>
</suite>



